@import url('https://fonts.cdnfonts.com/css/poppins');
:root {
    --primary-key: #8cc84c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    background: var(--primary-key);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    background: white;
    border-radius: 10px;
    width: 400px;
    padding: 20px;
}

.title {
    font-size: 20px;
}

.content {
    border: 1px solid #888;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    border-radius: 5px;
}

.content input {
    border: none;
    outline: none;
    font-size: 20px;
    margin: 10px;
    flex: 1;
}

.content li {
    list-style: none;
    background: var(--primary-key);
    color: white;
    border-radius: 3px;
    margin: 4px 3px;
    padding: 10px;
}

.content li i {
    font-size: 16px;
    margin-left: 5px;
    cursor: pointer;
}

.remove-all {
    background: var(--primary-key);
    color: white;
    border: none;
    outline: none;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.remove-all:hover {
    background: #7cac49;
}