* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(to right, #4daf54, #3d8880);
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box {
    background: #000;
    width: 70px;
    height: 70px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    transition: all 0.25s ease;
}

.search-box__input {
    height: 100%;
    width: 100%;
    background: transparent;
    color: white;
    font-size: 35px;
    padding: 20px 100px 20px 20px;
    outline: none;
}

.search-box__btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
    height: 70px;
    font-size: 25px;
    border: none;
    outline: none;
}

.search-box.open {
    width: 400px;
}