* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 100px auto;
    border-radius: 30px;
    padding: 20px;
    background: #e2f3e2;
}

.food-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.control {
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
}

button {
    padding: 10px 40px;
    margin: 10px 20px;
    background: white;
    border: 1px solid green;
    border-radius: 50px;
    width: 350px;
    color: green;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 15px;
}

button:hover {
    background: green;
    color: white;
}

.food {
    width: 23%;
    height: 250px;
    margin: 20px 10px;
    border-radius: 10px;
    overflow: hidden;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

img:hover {
    transition: 0.5s all;
    transform: scale(1.8) rotate(90deg);
}

.hide {
    display: none;
}